/* Question 1 */
.side-by-side {
  width: 120px;
  height: 70px;
  background-color: black;
  margin: 10px;
}

/* Question 2 */
.gone {
  background-color: lightgrey;
  color: grey;
  font-size: 30px;
  width: 100px;
}

.layoutExamplesWrapper > a {
  display: block;
}
