* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    height: max-content;
    margin: auto;
}

.container > * {
    display: block;
}

.box {
    height: 80px;
    padding: 16px 0 0 8px;
}

.header {
background-color: #f94144;
}

.nav {
background-color: #f3722c;
}

.middle {
    display: flex;
    flex-direction: row;
    height: 400px;
}

.left {
    flex: 2;
}

.right {
    flex: 1;
    background-color: #f9c74f;
}

.right h2 {
    margin: 10px 0 0 10px;
}

.section {
    height: 200px;
    background-color: #90be6d;
    padding-bottom: 20px;
    display: block
    
}

.section > div {
    display: inline-block;
}

.section h2 {
    padding: 20px 0 0 20px;
}

section > div {
    height: 90px;
    width: 25%;
    margin: 15px;
    background-color: #4d908f;
    padding: 40px 0 0 10px;
}

article > * {
    margin:20px;
    padding-top: 20px ;
}


.footer {
    background-color: #264653;
    height: 60px;
}

