* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    height: max-content;
    margin: auto;
    
}

.upper {
    height: 160px;
}


.upper > * {
    display: inline-block;
    margin: -2px;
    
}

.upper span {
    font-size: 30px;
    font-weight: 600;
}

.box {
    display: block;
    width: 520px;
    height: 80px;
    padding: 16px 0 0 8px;
}

.header {
    background-color: #f94144;
}

.nav {
    background-color: #f3722c;
}

div .upper_right {
    position: relative;
    top:-80px;
}

.upper_right span {
    display: inline-block;
    width: 261px;
    padding: 14px 0 0 5px;
    background-color: #f9c74f;
    height: 158px;
}

.footer {
    background-color: #264653;
    height: 60px;
    margin:-2px 0 0 -2px;
    width: 781px;
}

.middle {
    width: 779px;
}

.section {
    height: 300px;
    background-color: #90be6d;
    margin-left: -2px;
    padding-bottom: 10px;
    display: block;
}

 .section h2 { 
    padding: 20px 0 0 20px;
}

.one {
    display: block;
}

section > article {
    
    position: relative;
    height: 60px;
    width: 85%;
    margin: auto;
    background-color: #4d908f;
}

article > * {
    margin:20px;
    padding-top: 20px ;
}